*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.titulito{
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.textito{
    color: #FFFFFF;
    text-align: center;
}

/* HEADER */

header{
    width: 100%;
    height: 600px;
    background: linear-gradient(
        to right,
        hsla(116, 47%, 38%, 0.35),
        hsla(196, 88%, 38%, 0.45)
    ),
    url(../imagenes/portadalal.gif);

    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* SOBRE NOSOTROS */

main .sobre-nosotros{
    padding: 30px 0 60px 0;
}

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.imagen-about-us{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos-programa h3{
    margin-bottom: 15px;
    text-align: center;
}

.contenido-textos-programa h4{
    margin-bottom: 15px;
    text-align: justify;
}

.contenido-textos-programa li{
    
    padding: 0 0 30px 15px;
}
.contenido-textos-programa p{
    padding: 0 0 30px 15px;
    font-weight: 300;
    text-align: justify;
}


.contenido-textos h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
    margin-right: 5px;
}

.contenido-textos-programa h3 span{
    background: #8e37a5;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos-programa h4 span{
    background: ##ffffff;
    color: ##000000;
    border-radius: 10%;
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    box-shadow: inset 1px 1px 0px 2px rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0 0 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* OBJETIVOS */

.lacajadelosobjetivos{
    padding: 60px 0;
    text-align: center;
}

.fotobienacacomodada{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.fotobienacacomodada img{
    width: 100%;
    max-width: 950px;
    height: 420px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,.20);
}

.lascajitasdelosobjetivos{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.elbordebonito{
    width: 31%;
    min-height: 420px;
    background: #749DA1;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 12px rgba(0,0,0,.15);
    transition: .3s ease;
    display: flex;
    flex-direction: column;
}

.elbordebonito:hover{
    transform: translateY(-8px);
}

.elbordebonito h3{
    color: #fff;
    font-size: 22px;
    margin-bottom: 20px;
}

.elbordebonito p{
    color: #fff;
    text-align: justify;
    line-height: 1.8;
    font-weight: 300;
}

/* SERVICIOS */

.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}

.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
    max-width: 500px;
    height: 270px;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

/* CLIENTES */

.cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cards .card{
    background: #749DA1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0,0,0,.6);
    padding: 20px;
    transition: .3s cubic-bezier(0, -0.3, 0.98, 0.5);
}

.cards .cards:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

/* FOOTER */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    color: #9e9797;
}

/* TABLET */

@media screen and (max-width:900px){

    .contenedor-sobre-nosotros{
        flex-direction: column;
    }

    .imagen-about-us{
        width: 90%;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .lascajitasdelosobjetivos{
        flex-direction: column;
        align-items: center;
    }

    .elbordebonito{
        width: 90%;
        min-height: auto;
    }

    .fotobienacacomodada img{
        height: 350px;
    }

    .servicio-cont{
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        margin-bottom: 40px;
    }
}

/* CELULAR */

@media screen and (max-width:500px){

    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    .fotobienacacomodada img{
        height: 250px;
    }

    .elbordebonito{
        width: 100%;
        padding: 25px;
    }

    .cards .card{
        flex-direction: column;
        text-align: center;
    }

    .cards .card > .contenido-texto-card{
        width: 100%;
    }

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
    }
}
.raee-info {
    max-width: 1000px;
    margin: 60px auto;
    padding: 40px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    text-align: center;
}

.raee-info h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #642a73;
}

.raee-info h3 {
    margin-top: 30px;
    font-size: 24px;
    color: #4d0686;
}

.raee-text {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 25px;
    font-weight: 300;
}
.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273,91%,27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}
.raee-images {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.raee-images img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.raee-images img:hover {
    transform: scale(1.05);
}

.raee-list {
    list-style: none;
    padding: 0;
    font-size: 18px;
}

.raee-list li {
    margin: 10px 0;
    font-weight: 300;
}

.programa-info {
    max-width: 900px;
    margin: 60px auto;
    padding: 40px;
    background: #ececec;
    border-radius: 20px;
    box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}



.timeline-proceso {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 25px;
}
.paso-card {
    
    min-width: 200px;
    background: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    border-left: 5px solid #af20d3;
    transition: transform 0.3s cubic-bezier(0, 1.31, 0, 2.56);

}

.paso-card h5{
    margin-bottom: 20px;
    font-size: 17px;
}

.paso-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.paso-numero {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 2rem;
    font-weight: bold;
    color: rgba(175, 32, 211, 1);
}

.cuadros-asociaciones {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.borde-asociacion {
    width: 31%;
    min-height: 420px;
    background: #749DA1;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 12px rgba(0, 0, 0, .15);
    transition: .3s ease;
    display: flex;
    flex-direction: column;
}
.borde-asociacion img {
    width: 100%;
    max-width: 950px;
    height: 420px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .20);
}

.grid-estrategias, .grid-roles {
    display: grid;
    
    gap: 20px;
    margin-top: 25px;
    grid-auto-flow: column;
}
.estrategia-card {
    position: relative;
    overflow: hidden;
    background: #ffffff;
    border: 1px solid #af20d3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(175,32,211,.2);
    transition: all 0.3s ease;
    margin-bottom: 25px;
    cursor: pointer;
}

.estrategia-card > img {
    width: 100%;
    height: 220px;
    object-fit: contain;
    display: block;
    transition: transform .4s ease;
}

.hover-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.75);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    opacity: 0;
    transform: scale(1.2);
    transition: all .4s ease;
}

.hover-logo img {
    width: 140px;
    height: auto;
    margin-bottom: 10px;
}

.hover-logo p {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.estrategia-card:hover .hover-logo {
    opacity: 1;
    transform: scale(1);
}

.estrategia-card:hover > img {
    transform: scale(0.9);
}

/* ROLES */
.rol-card {
    background: #ffffff;
    border: 1px solid #af20d3;
    padding: 20px;
    border-radius: 10px;
    transition: all .3s ease;
    margin-bottom: 25px;
}

.rol-card:hover {
    background: #f6dffb;
    color: #000000;
}

.rol-card h5 {
    margin-top: 0;
    font-size: 1.1rem;
}
.programa-info2{
    max-width: 900px;
    margin: 60px auto;
    padding: 40px;

    background-image: linear-gradient(
        rgba(255,255,255,0.10),
        rgba(255,255,255,0.10)
    ),
    url('../imagenes/fondocj.png');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 20px;
    box-shadow: inset 0 10px 30px rgba(0,0,0,0.08);
    text-align: center;
}
.programa-info2 .titulo{
    color: white;
    text-shadow: 2px 2px 10px rgba(0,0,0,.5);
    backdrop-filter: blur(32px);
    border-radius: 20px;
}

.programa-info2 .rol-card{
    background: rgba(255,255,255,.12);
    backdrop-filter: blur(32px);
    border: 1px solid rgba(255,255,255,.25);
    border-radius: 20px;
    padding: 30px;
}

.programa-info2 .rol-card p{
    color: white;
    line-height: 1.8;
    text-shadow: 1px 1px 5px rgba(0,0,0,.4);
}
